.my-custom-margin{
    margin-left: 300px;
}
li{
    font-size: larger;
}
.nav-link {
    text-decoration: none; /* Remove text decoration */
    font-weight: bold; /* Make text bolder */
    font-size: 18px; /* Increase font size */
    color: #333; /* Optional: Set the color */
  }
  
  .nav-link:hover {
    color: #555; /* Optional: Change color on hover */
  }

  .navbar-brand {
    margin-left: 0;
    font-size: 24px; /* Increase font size */
    font-weight: 700; /* Increase font weight */
  }
  
  .navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
  }